<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        {{#if err}}
..          <div class="alert alert-danger m-auto" role="alert">
            Vui lòng điền đầy đủ không được bỏ trống thông tin!
            </div>
        {{/if}}
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="tm-block-title d-inline-block">Thêm Sách</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-12 col-md-12 m-auto">
                        <form action="/add-cart" method = "POST" class="tm-edit-cart-form">
                            <div class="form-group mb-6">
                                <label for="id_product">ISBN
                                </label>
                                <input id="id_product" name="id_product" type="number"
                                    class="form-control validate" />
                            </div>
                            <div class="form-group mb-6">
                                    
                                    <label for="sl">Số lượng
                                    </label>
                                    <input id="sl" name="sl" type="number"
                                    class="form-control validate" />
                                </div>
                            </div>
                        

                        </div>
                        <div class="col-6 m-auto">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm Vào đơn Hàng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#expire_date").datepicker();
    });
</script>