body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tm-block-search{
   min-height: 150px!important;
}

.btn-search {
    float: right;
    margin-top: -5%;
}
.tm-block-products {
    min-height: 715px!important;
}

.tm-product-table-container.table-category {
    max-height: 305px;
}